@{
    ViewData["Title"] = "Gewächhaustemperatur";
}
@section Scripts {
<script>
    var modelString = '@System.Text.Json.JsonSerializer.Serialize(Model)'
</script>
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    Test
</div>
